.hero {
  background-size: cover;
  color: white;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.gallery img {
  width: 100%;
  height: auto;
}

#buttonNorte {
  margin-top: -200px;
  height: 50px;
  width: 150px;
}

#buttonCentro {
  margin-top: -200px;
  height: 50px;
  width: 150px;
}

#buttonSur {
  margin-top: -200px;
  height: 50px;
  width: 150px;
}
