#buttonNorte {
  margin-top: -200px;
  height: 50px;
  width: 150px;
}

#buttonCentro {
  margin-top: -200px;
  height: 50px;
  width: 150px;
}

#buttonSur {
  margin-top: -200px;
  height: 50px;
  width: 150px;
}

#map {
  margin-right: 15px;
}